.layout-transparent {
  background: url('../image/background.png') center / cover;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-navigation__link,
.layout-transparent .mdl-layout__drawer-button {
  color: purple;
  }
.card-rectangle.mdl-card {
  width: 430px;
  height: 680px;
}
.card-rectangle > .mdl-card__title {
  color: black;
}

.mdl-cell > .mdl-card{
    width: 100%;
}

.card-rectangle > .mdl-card__media{
    width: 100%;
}
.mdl-data-table{
    width:80%;
    height:60%;
    position:relative;
    top:50%;
    left:8%;
    margin-left:30px;
    margin-top:30px;
}
